<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Login</title>
</head>
<body>
<h1>Login with Google</h1>
<a href="/oauth2/authorization/google">Google 로그인 및 회원가입</a>


<!--<h2>Temp!! TestAddVideoToPlaylist</h2>-->
<!--<form action="/TestAddVideoToPlaylist" method="post">-->
<!--  <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">-->
<!--  <label for="customerEmail">customerEmail:</label>-->
<!--  <input type="text" id="customerEmail" name="customerEmail" required><br>-->
<!--  <label for="playlistId">Playlist ID:</label>-->
<!--  <input type="text" id="playlistId" name="playlistId" required><br>-->
<!--  <label for="videoId">Video ID:</label>-->
<!--  <input type="text" id="videoId" name="videoId" required><br>-->
<!--  <button type="submit">Add Video</button>-->
<!--</form>-->



</body>
</html>

<!--<!DOCTYPE html>-->
<!--<html xmlns:th="http://www.thymeleaf.org">-->
<!--<head>-->
<!--  <title>Register & Login</title>-->
<!--</head>-->
<!--<body>-->
<!--<h1>회원가입</h1>-->
<!--<a href="/mySignup">Google 회원가입</a>-->

<!--<h1>로그인</h1>-->
<!--<a href="/myLogin">Google 로그인</a>-->
<!--</body>-->
<!--</html>-->