<!--<h2>Temp!! TestAddVideoToPlaylist</h2>-->
<!--<form action="/TestAddVideoToPlaylist" method="post">-->
<!--  <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">-->
<!--  <label for="customerEmail">customerEmail:</label>-->
<!--  <input type="text" id="customerEmail" name="customerEmail" required><br>-->
<!--  <label for="playlistId">Playlist ID:</label>-->
<!--  <input type="text" id="playlistId" name="playlistId" required><br>-->
<!--  <label for="videoId">Video ID:</label>-->
<!--  <input type="text" id="videoId" name="videoId" required><br>-->
<!--  <button type="submit">Add Video</button>-->
<!--</form>-->
